.button {
    -fx-background-color: #3159d3;
    -fx-border-radius:6px;

    -fx-display:inline-block;
    -fx-cursor:pointer;
    -fx-font-size:18px;
    -fx-font-weight:bold;
    -fx-padding:6px 24px;
    -fx-text-decoration:none;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: #2c94d3;
}
