.list-view .list-cell {
    -fx-text-fill: #0d1763;
    -fx-font-size: 18.0;
    -fx-font-weight: bold;
}

.list-view .list-cell:even {
    -fx-background-color: #a1bfe7;
}

.list-view .list-cell:odd {
    -fx-background-color: #bdd5fb;
}

.list-view .list-cell:selected {
    -fx-background-color: white;
}